.container
  .row
    .col-md-offset-4.col-md-4
      .panel.panel-default
        .panel-heading 
          %h4{:style=>"text-align:center;"} Payment Information
        .panel-body
          = form_tag payment_path(@payment),id: "editForm", class: "form-horizontal",:method => :put do
            .form-group
              = label :payment, :cardNo, 'CardNo:', class: "col-md-2"
              .col-md-10
                = text_field :payment, 'cardNo',class:"form-control"
            .form-group
              = label :payment, :cardType, 'Type:', class: "col-md-2"
              .col-md-10
                = text_field :payment, 'cardType',class:"form-control"
            .form-group
              = label :payment, :cvv, 'CVV:', class: "col-md-2"
              .col-md-10
                = text_field :payment, 'cvv',class:"form-control"
            .form-group
              = label :payment, :expiry, 'Expiry:', class: "col-md-2"
              .col-md-10
                = date_select :payment, 'expiry',class:"form-control"
            .form-group
              .col-md-offset-3.col-md-8
                = submit_tag 'Update Payment Info',class:"btn btn-default"